@font-face{
    font-family: NexaBold;
    src: url("./Fonts/NexaBold.woff") format("woff");
}

@font-face{
    font-family: NexaLight;
    src: url("./Fonts/NexaLight.woff") format("woff");
}

#projectText{
    z-index: 2;
    align-self: center;
    position: relative;
    margin-left: 40%;
    font-family: NexaLight;
    font-size: 3vw;
    color: gray;
    width: 75vw;
}



#projectSpace {
    border-radius: 25px;
    margin-top: 15%;
    z-index: 2;
    position: relative;
    background-color: white;
    margin-bottom: 100px;
    width: 95%;
    height: 750px;
    padding: 50px;
    display: inline-block;
}

html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}

#grid{
    width:1140px;
    margin:0px auto;
}

.project {
    position: relative;
    width: 40%;
  }
  
.image {
    opacity: 1;
    display: block;
    width: 30%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.project:hover .image {
    opacity: 1;
}
  
.project:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}
