

#profilePicBox{
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
    height: 30vw;
    width: 50%;
    font-family: GraphikLight;
    font-size: 2vw;
    margin-left: 10%;
}

#contactInfoBox{
    flex-wrap: wrap;
    z-index: 2;
    position: relative;

}

.flexBox{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.iconFlexBox{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left:10%;
    margin-top:5%;
}

#ContactInfo{
    z-index: 3;
    color:black;
    margin-bottom: 100px;
}

#profilePic{
    height:25vw;
    width: 18vw;
    display:block;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}


#ContactTitle{
    position: relative;
    text-align:center;
    font-family: GraphikSemiBold;
    font-size: 4vw;
    color: black;
    margin-top:6%;
    margin-bottom: 4%;

}

.descriptions{
    flex-wrap: wrap;
    font-family: GraphikLight;
    font-size: 2vw;
    color: black;
    width: 75%;
    margin-top: 10%;
    margin-left:10%;
}

.gmailIcon{
    height:2.5vw;
    width:3vw;
    display:inline-block;
    margin:auto;
}

.icon{
    height:3vw;
    width:3vw;

    margin:auto;

    margin-right:10px;
}

.contactText {
    display:inline; 
    font-family: GraphikLight;
    font-size: 2vw;
    color: black;
}

.contactLink{
    display:inline; 
}

#GetInTouch{
    font-family: GraphikSemiBold;
}

