@font-face{
    font-family: NexaBold;
    src: url("../Fonts/NexaBold.woff") format("woff");
}

@font-face{
    font-family: NexaLight;
    src: url("../Fonts/NexaLight.woff") format("woff");
}

#img{
    z-index: 1;
    position: fixed;
    height: 100%;
    border: '5px solid white'
}


#name{
    z-index: 2;
    align-self: center;
    position: relative;
    margin-top: 17.8%;
    margin-left: 5%;
    font-family: NexaBold;
    font-size: 9vw;
    color: white;
    
}

#title{
    z-index: 2;
    align-self: center;
    position: relative;
    margin-top: -2%;
    margin-left: 5%;
    font-family: NexaLight;
    font-size: 3vw;
    color: white;
    width: 75vw;
}

#background {
    width: 100%;
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

#beachPicture{
    width: 100%;
    height: 100%;
}

#lovesRotating{
    display:inline;
    font-family: NexaLight;
    font-size: 3vw;
    color: white;
}

