#projectTitle{
    z-index: 2;
    position: relative;
    text-align:center;
    font-family: NexaBold;
    font-size: 4vw;
    color: black;
    width: 75vw;
    margin-left:10%;
    margin-bottom: 5%;
}


#projectSpace {
    margin-top: 15%;
    z-index: 2;
    position: relative;
    margin-bottom: 100px;
    width: 94.1vw;
    height: auto;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}

#grid{
    width:1140px;
    margin:0px auto;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}

a {text-decoration: none}

.projectImage {
    flex-wrap: wrap;
    z-index: 3;
    opacity: 1;
    display:inline-block;
    width: 28vw;
    height: 14.5vw;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: 7%;
}

.projectText{
    width:auto;
    margin-left: 7%;
}

.projectTitle{
    z-index: 2;
    position: relative;
    text-align:left;
    font-family: NexaBold;
    font-size: 3vw;
    color: black;
    width: auto;
    margin-top: -1%;
}

.projectSubtitle{
    z-index: 2;
    position: relative;
    text-align:left;
    font-family: NexaLight;
    font-size: 1.5vw;
    width: auto;
    height:auto;
    margin-top: -4%;
    margin-bottom: 5%;
}

.projectDescription{
    flex-wrap: wrap;
    font-family: NexaLight;
    font-size: 1.5vw;
    color: black;
    width: auto;
}

.projectSection{
    margin:1vw;
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fadeBlock{
    width: 65vw;
}

.react-reveal{
    margin:0;
}