@font-face{
    font-family: NexaBold;
    src: url("../Fonts/NexaBold.woff") format("woff");
}

@font-face{
    font-family: NexaLight;
    src: url("../Fonts/NexaLight.woff") format("woff");
}

#projectTitle{
    z-index: 2;
    position: relative;
    text-align:center;
    font-family: NexaLight;
    font-size: 3vw;
    color: black;
    width: 75vw;
    margin-left:10%;
}

#photoDetail{
    z-index: 2;
    position: relative;
    text-align:center;
    font-family: NexaLight;
    font-size: 2vw;
    color: black;
    width: 75vw;
    margin-bottom:5%;
}


#projectSpace {
    margin-top: 15%;
    z-index: 2;
    position: relative;

    margin-bottom: 100px;
    width: 94.1vw;
    height: auto;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}

#grid{
    width:1140px;
    margin:0px auto;
}


.projectImage {
    flex-wrap: wrap;
    z-index: 3;
    opacity: 1;
    display:inline-block;
    width: 28vw;
    height: 14.5vw;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left:10%;
}

.projectText{
    flex-wrap: wrap;
    margin-left: 10%; 
    margin-top: 5%;
    font-family: NexaLight;
    font-size: 2vw;
    color: black;
}

.projectSection{
    margin:10px;
    background-color: lightgrey;
    border-radius:25px;
    height: 350px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fadeBlock{
    width: 65vw;
}

.react-reveal{
    margin:auto;
}